@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

/* @font-face {
    font-family: AlegreyaSans;
    src: url(fonts/Alegreya_Sans/AlegreyaSans-ExtraBold.ttf);
}

@font-face {
    font-family: Hussar;
    src: url(fonts/hussar-ekologiczny-font/HussarEkologiczne1-4Mj6.otf);
} */



body {
    background: #ff9f00;
    background-repeat: no-repeat;
}

/* #title {
    text-align: center;
    font-size: 7rem;
    padding-top: 1rem;
    color: rgb(46, 46, 46);
}

#big-title {
    font-family: Hussar;
}

#brainers-title {
    font-family: AlegreyaSans;
} */

#coming-soon {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: lighter;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.questions {
    font-family: 'Verdana', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: lighter;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: bottom;
}